.call-btn {
  padding: 12px 32px;
  border: 1px solid #fffaf1;
  border-radius: 2px;
  background-color: #1d1d1d;
  -webkit-perspective-origin: 0% 50%;
  perspective-origin: 0% 50%;
  -webkit-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-weight: 600;
  font-size: 16px;
  color: white;
  cursor: pointer;
}

.call-btn:hover {
  background-color: #fffaf1;
  -webkit-perspective-origin: 0% 50%;
  perspective-origin: 0% 50%;
  -webkit-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-weight: 600;
  font-size: 16px;
  color: black;
  cursor: pointer;
  a {
    color: black;
  }
}

.call-btn-active {
  padding: 12px 32px;
  border: 1px solid #fffaf1;
  background-color: #fffaf1;
  border-radius: 2px;
  font-weight: 600;
  font-size: 16px;
  -webkit-perspective-origin: 0% 50%;
  perspective-origin: 0% 50%;
  -webkit-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-weight: 600;
  font-size: 16px;
  color: black;
  cursor: pointer;
  a {
    color: black;
  }
}

.call-btn-active:hover {
  border: 1px solid #fffaf1;
  background-color: #1d1d1d;
  -webkit-perspective-origin: 0% 50%;
  perspective-origin: 0% 50%;
  -webkit-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: white;
  cursor: pointer;
}

.btn-more {
  padding: 30px 32px;
  border: 1px solid #fffaf1;
  border-radius: 2px;
  background-color: #1d1d1d;
  -webkit-perspective-origin: 0% 50%;
  perspective-origin: 0% 50%;
  -webkit-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-weight: 600;
  font-size: 16px;
  color: white;
  cursor: pointer;
  width: 100%;
  margin-bottom: 100px;
}

.btn-more:hover {
  background-color: #fffaf1;
  -webkit-perspective-origin: 0% 50%;
  perspective-origin: 0% 50%;
  -webkit-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-weight: 600;
  font-size: 20px;
  color: black;
  cursor: pointer;
  a {
    color: black;
  }
}
