@font-face {
    font-family: Cooper;
    src: url(content/Acworth/Acworth-Bold.otf);
}

body {
    font-family: 'Poppins', sans-serif;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}