body {
    background-color: #1E2123;
}

section {
    max-width: 1440px;
    margin: auto;
    height: auto;
    scroll-snap-align: start;
}

.container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    &__img {
        width: 30%;
        z-index: 1;
        min-width: 200px;
    }
    &__text {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: -130px;
        &-dessous {
            z-index: 2;
            h1 {
                font-weight: 900;
                font-size: 142px;
            }
        }
        &-dessus {
            z-index: 1;
            margin-top: -80px;
            h1 {
                color: #1E2123;
                font-weight: 700;
                font-size: 70px;
                text-shadow: -1px -1px 0 #FFF, 1px -1px 0 #fff, -1px 1px 0 #FFF, 1px 1px 0 #fff;
            }
        }
    }
    & .arrow i {
        font-size: 25px;
    }
}

.project {
    padding: 85px 20px 85px 20px;
    &__titre {
        position: relative;
        display: flex;
        flex-direction: column;
        &-full {
            position: absolute;
            z-index: 2;
            margin-left: 55px;
            h3 {
                font-weight: 700;
                font-size: 70px;
            }
        }
        &-empty {
            position: absolute;
            z-index: 0;
            margin: 30px 30px 30px 70px;
            h3 {
                color: #1E2123;
                font-weight: 700;
                font-size: 70px;
                text-shadow: -1px -1px 0 #FFF, 1px -1px 0 #fff, -1px 1px 0 #FFF, 1px 1px 0 #fff;
            }
        }
        &-gif {
            z-index: 1;
            img {
                margin-top: 40px;
                width: 140px;
            }
        }
    }
    &__mesprojets {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    &__card {
        display: flex;
        flex-direction: column;
        padding: 20px 0px 20px 0px;
        max-width: 450px;
        & img {
            object-fit: cover;
        }
        &__titre {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            &__num {
                h4 {
                    font-size: 40px;
                }
            }
            &__name {
                &-lien {
                    font-size: 10px;

                }
                &-nom {
                    font-size: 25px;
                    margin-top: -11px;
                }
            }
        }
    }
    

}
@media screen and (max-width: 1413px) {
    .hero__text {
        &-dessous {
            h1{
                font-size: 90px;
            }
        }
        &-dessus {
            margin-top: -50px;
            h1{
                font-size: 50px;
            }
        }
    } h1{
        font-size: 120px;
    }

}
@media screen and (max-width: 950px) {
    .hero {
        padding: 50px 20px 50px 20px;
        &__text {
            margin-top: -50px;
            &-dessous {
                h1 {
                    font-size: 80px;
                }
            }
            &-dessus {
                margin-top: -35px;
                padding-bottom: 20px;
                h1 {
                    font-size: 30px;
                }
            }
            p {
                max-width: 450px;
                padding-bottom: 5px;
                font-size: 14px;
            }
            a {
                text-decoration: underline;
                font-size: 14px;
            }
        }
        & .arrow {
            display: none;
        }
    }
        


}

@media screen and (min-width: 950px) {
    .hero__desc {
        display: none;
    }
}