body {
  background-color: #1d1d1d;
  overflow-x: hidden;
}

.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  padding-bottom: 340px;
  max-width: 1440px;
  margin: auto;
  background-image: url("./content/Sprinkle.svg");
  &__titre {
    margin-bottom: 50px;
    font-size: 18px;
  }
  &__img {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__img img {
    width: 377px;
    position: absolute;
  }
  &__img__text {
    position: relative;
    z-index: 5;
    max-width: 80%;
    margin: 0 80px;
    padding-right: 0;
    padding-left: 0;
    font-family: Reckless, sans-serif;
    color: #fffaf1;
    font-weight: 900;
    font-size: 120px;
    text-align: center;
    text-shadow: 0 1px 0 rgb(29 29 29 / 20%), 1px 0 0 rgb(29 29 29 / 20%),
      0 -1px 0 rgb(29 29 29 / 20%), -1px 0 0 rgb(29 29 29 / 20%);
  }
  &__img__text h1 {
    font-size: 150px;
    font-weight: 900;
  }
  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.call {
  display: flex;
  flex-direction: column;
  align-items: center;
  .work {
    padding-top: 100px;
    h2 {
      text-align: center;
      padding-bottom: 30px;
    }
    &__img {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      img {
        height: 80px;
        margin: 10px;
        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
      }
    }
  }
}

.about {
  padding: 100px 20px 100px 20px;
  max-width: 1440px;
  margin: auto;
  &__desc {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  h2 {
    text-align: center;
    font-family: Reckless, sans-serif;
    font-size: 80px;
    font-weight: 500;
    padding-bottom: 50px;
  }
  p {
    text-align: center;
    max-width: 900px;
  }
  a {
    text-align: center;
    padding-top: 5px;
  }
}

.portfolio {
  padding: 100px 20px 100px 20px;
  max-width: 1440px;
  margin: auto;
  &__project {
    padding-bottom: 80px;
    &__type {
      font-size: 18px;
      font-weight: 400;
      text-align: right;
      text-transform: uppercase;
    }
    &__titre {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      &__nom {
        font-family: Reckless, sans-serif;
        font-size: 80px;
        line-height: 96px;
      }
      &__num {
        font-family: Reckless, sans-serif;
        font-size: 80px;
        line-height: 96px;
      }
    }
    &__button {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 10px;
      a {
        text-decoration: none;
        color: #fff;
      }
    }
  }
}

.separator {
  height: 1px;
  background-color: #fffaf1;
}

.testimonial-text {
  padding: 0px 20px 0px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1440px;
  margin: auto;
  h3 {
    font-family: Reckless, sans-serif;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
  }
  p {
    margin-top: 24px;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
  }
}

.faq {
  display: flex;
  flex-direction: column;
  padding: 100px 20px 100px 20px;
  max-width: 1440px;
  margin: auto;
  h2 {
    font-family: Reckless, sans-serif;
    font-size: 80px;
    line-height: 90px;
    font-weight: 500;
    padding: 20px 0px;
  }
  .question {
    &__titre {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
    }
    h3 {
      font-family: Reckless, sans-serif;
      color: #fffaf1;
      font-size: 32px;
      padding: 20px 0px;
    }
    i {
      margin-left: 10px;
      font-size: 25px;
    }
    p {
      padding-bottom: 20px;
    }
  }
}

.contacter {
  display: flex;
  flex-direction: row;
  padding: 100px 20px 100px 20px;
  max-width: 1440px;
  margin: auto;
  justify-content: space-evenly;
  align-items: center;
  &__img {
    img {
      max-width: 500px;
    }
  }
  &__text {
    h3 {
      font-family: Reckless, sans-serif;
      font-size: 80px;
      line-height: 90px;
      font-weight: 400;
    }
    .icons {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      i {
        font-size: 40px;
        cursor: pointer;
      }
      i:hover {
        color: #bebebe;
      }
    }
  }
}

@media screen and (max-width: 1413px) {
  .macbook {
    max-width: 80%;
  }
}
@media screen and (max-width: 1030px) {
  .hero {
    &__text {
      align-items: center;
      &-dessous {
        display: none;
        h1 {
          font-size: 80px;
        }
      }
      &-dessus {
        margin-top: 0px;
        padding-bottom: 20px;
        h1 {
          font-size: 30px;
        }
      }
      p {
        max-width: 450px;
        padding-bottom: 5px;
        font-size: 14px;
      }
      a {
        text-decoration: underline;
        font-size: 14px;
      }
    }
  }
  .project__card__text {
    p {
      max-width: 317px;
    }
  }
}

@media screen and (max-width: 930px) {
  .macbook {
    display: none;
  }
}

@media screen and (max-width: 430px) {
  .project__titre {
    padding-bottom: 0px;
    &-full {
      display: none;
    }
    &-empty {
      display: none;
    }
    &-full-mobile {
      text-align: center;
      h3 {
        color: #1e2123;
        font-weight: 700;
        font-size: 55px;
        text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
          1px 1px 0 #fff;
      }
    }
  }
  .project__card {
    margin: 20px 0px;
    padding: 10px;
    &__text h3 {
      font-size: 35px;
      margin-bottom: -15px;
    }
  }
  .contact__titre {
    align-items: center;
    &-full {
      display: none;
    }
    &-empty {
      display: none;
    }
    &-full-mobile {
      text-align: center;
      h3 {
        color: #1e2123;
        font-weight: 700;
        font-size: 55px;
        text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
          1px 1px 0 #fff;
      }
    }
  }
  .contact__content {
    padding: 0px;
  }
}
@media screen and (min-width: 430px) {
  .project__titre-full-mobile {
    display: none;
  }
  .contact__titre-full-mobile {
    display: none;
  }
}

@media screen and (min-width: 1030px) {
  .hero__desc {
    display: none;
  }
  .hero__text-dessous-mobile {
    display: none;
  }
}
